.div_roll_character{
	padding-top:2%;
	padding-left:5%;
}

textarea {
	width:70%;
	background-color: transparent;
	border-bottom: solid 1px #000;
	border-left: none;
	border-right: none;
	border-top: none;

}

.backstoryForm {
	padding-left:12%;

}

.buttonClear{

	margin-right: 40px;
}