<div class="container-fluid">


  <div class="div_page">

    <div class="main_menu" >
      <h1> {{title}}</h1>
        <div class="main_menu_item">
          <a routerLink="/" routerLinkActive="active">Introduction</a>
        </div>
        <div class="main_menu_item">
          <a routerLink="/view">View Investigators</a>
        </div>
        <div class="main_menu_item">
          <a routerLink="/create">Invetigator Creation</a>
        </div>
        <div class="main_menu_item">
          <a routerLink="/dice">Dice!</a>
        </div>
    </div>
      <router-outlet></router-outlet>
  </div>

  
</div>

