<div class="row">

	<div class="col-sm-6">
		<div class="div_roll_character">
			<h3> {{title}}</h3>
			<br><br>
			
			<button type="button" class="btn btn-success buttonSize" (click)="roll()">Roll</button>
			<br><br>
			
			<ul>
				<li *ngFor="let line of characteristics">
					<p> STR: {{line.str}} CON:{{line.con}} SIZ:{{line.siz}} DEX:{{line.dex}} APP:{{line.app}} INT:{{line.int}} POW:{{line.pow}} EDU:{{line.edu}} LUCK:{{line.luck}} TOTAL:{{line.total}} 

					<button  class="btn btn-info buttonClear buttonSize" [routerLink]="['add',  line.id]" >
						Choose
					</button></p>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-sm-6">
		<router-outlet></router-outlet>
	</div>

</div>