

<div class="div_roll_character">
	<h3>Welcome to the World of Call of Cthulhu!</h3>
	<br><br>
<div class="row">
			<div class="col">
				<div class="card cardA text-center">
				<div class="card-body">
					<b>INTRODUCTION</b>
				</div>
			</div></div><br>
		</div>
	<div class="row">
		<div class="col-sm-3">
			<div class="card border-primary mb-3" style="max-width: 30rem;">
				<div class="card-header">What is COC7?</div>
				<div class="card-body text-primary">
					<h5 class="card-title">Call of Cthulhu 7th Edition</h5>
					<p class="card-text">Call of Cthulhu is basiclly a tabletop RPG game. It is a game full of secrets, mysteries and horror. It is a horror-themed roleplaying game based on the writings of Howard Phillips Lovecraft.</p>
				</div>
			</div>
			<div class="card border-dark mb-3" style="max-width: 30rem;">
				<div class="card-header">Cooperation & Competition</div>
				<div class="card-body text-dark">
					<p class="card-text">						
					In Call of Cthulhu, there are no winners and losers in the standard competitive sense. Play is usually cooperative. Investigators may be played as nice people, as devious brutes, or however the players wish. The participants work together to attain a common goal—usually to discover and foil some nefarious plot being perpetrated by the minions of some dark cult or secret society. The opposition that the investigators face will often be an alien or hostile situation—controlled by an impartial Keeper, not another player.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-9">
			<div class="card border-secondary mb-3" style="max-width: 100rem;">
				<div class="card-header">An Overview of the Game</div>
				<div class="card-body text-secondary">
					<h5 class="card-title">Game Introduction</h5>
					<p class="card-text">
						<font class="text-secondary">In this game, one player takes the role of game moderator, known as the <u>Keeper</u>, and his or her role within the rules is to run the game for the rest of the players. The rest of the players take the part of intrepid <u>Investigators</u> of the Unknown (“investigators”), attempting to seek out, understand and eventually confront the horrors, mysteries and secrets of the Cthulhu Mythos.<br><br></font>
						<font class="text-success">The Keeper picks a story to run. These stories are known as “<u>scenarios</u>”.A scenario provides the Keeper with the structure of a story for him or her to present to the players. The Keeper’s role is a little like that of a director making a film in which the actors don’t know how the story will develop. To extend that analogy, the players are like actors who have the freedom to improvise their own scripts.<br><br></font>
						<font class="text-danger">The investigators need not be anything at all like the people who play them. Indeed, it is often more rewarding and enjoyable for players to create characters entirely unlike themselves: tough private eyes, rude taxi drivers, or sinisterly genteel occultists.<br><br></font>
						<font class="text-warning">Most of the play is a verbal exchange. The Keeper sets the scene, describing the environment, the individuals, and encounters to the players. The players tell the Keeper what they intend their investigators to do. The Keeper then tells them whether they can do it and, if not, what happens instead. In play the game takes the form of a group conversation with many twists and turns and fun on the way.<br><br></font>
						<font class="text-info">The game rules use dice to determine if an action succeeds or fails when a dramatic “conflict” presents itself; for example, whether your investigators are able to leap out of the way of a giant statue that is about to crash down upon their heads! <br>The rules describe how to decide the outcome of such conflicts.In Call of Cthulhu, the Keeper has the responsibility of preparing scenarios and running the game without bias. It is the Keeper’s duty to make the investigators’ opposition smart and mean..</font><br></p>
					</div>
				</div>
			</div>
		</div>
<!-- 		<div class="row">
			<div class="col">
				<div class="card cardA text-center">
				<div class="card-body">
					<b>USEFUL LINKS</b>
				</div>
			</div></div><br>
		</div> -->
		<div class="row">
			<div class="col">
				<div class="card cardA text-center">
					<div class="card-body">
						<b>USEFUL VIDEOS FROM YOUTUBE AND BILIBILI</b>
					</div>
				</div>
			</div>
			<br>
		</div>
		<div class="row">
			<div class="col">
				<div class="card-group">
					<div class="card">

						<div class="card-body">
							<h5 class="card-title">Everyone died in Call Of Cthulhu</h5>
							<iframe width="100%" height="315" src="https://www.youtube.com/embed/xgxhNwPEJUA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							<p class="card-text">It is a video about Call of Cthulhu.</p>
						</div>
						<div class="card-footer">
							<small class="text-muted">Published on Jul 26, 2016</small>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Call of Cthulhu - The Museum Part 1 (Actual Play)</h5>
							<iframe width="100%" height="315" src="https://www.youtube.com/embed/bw_5Vyk9pvQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							<p class="card-text">An example video of actual playing the whole game.</p>
						</div>
						<div class="card-footer">
							<small class="text-muted">Published on Jul 9, 2015</small>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Call of Cthulhu Game in Chinese</h5>
							<iframe src="//player.bilibili.com/player.html?aid=7919902&cid=13002785&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" width="100%" height="315"> </iframe>
							<p class="card-text">Players made the whole video based on their games. They also including animation and set painting of character setting.</p>
						</div>
						<div class="card-footer">
							<small class="text-muted">Published on Jan 08, 2017</small>
						</div>
					</div>
				</div>
			</div>
		</div>




	</div>